<div class='card-body'>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3 class="text-secondary">Completed Tasks</h3>
    <div class="d-flex justify-content-between">
      <%= render "shared/search", url: complete_employees_path %>
      <%= link_to 'Download Status Report for Completed Tasks', complete_employees_path(current_user, format: :pdf), class: 'btn btn-warning mx-2' %>
    </div>
  </div>
  <%= render "employees/form" %>
</div>
