<div class="card">
  <div class='card-body'>
    <div class='card-header mb-3'>
      <h2 class='card-title d-flex justify-content-between'>
        <span>Welcome to the Employees Section</span>
      </h2>
    </div>

    <h3>Tasks Assigned</h3>

    <% @tasks.each do |t| %>
      <div class="card project-card mb-3">
        <div class="card-body">
          <span class="badge badge-primary mb-3"><%= t.status %></span>
          <h5 class='card-title text-dark'><b><%= t.name %></b></h5>
          <p><%= t.description %></p>
          <%= link_to 'add logged in hours', edit_project_task_path(t.project, t), class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
