<div class='card-body'>
  <div class="d-flex justify-content-between">
    <h3>Tasks Assigned</h3>
    <%= link_to 'Download Status Report for Assigned Tasks', employees_path(current_user, format: :pdf), class: 'btn btn-warning mb-2' %>
  </div>
  <%= render "employees/projects_form" %>
</div>
