<h1>Welcome to Project Management</h1>
<p>Your account has been created here are your credentials</p>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @password %></li>
</ul>
<p>To login to the site, just follow this link: <%= @url %>.</p>
<p>Thanks for joining and have a great day!</p>