<div class="card col-7">
  <div class="card-body">
    <h2 class='card-title mb-4 bg-warning'>
      <span class="text-white"><center>Editing Task</center></span>
    </h2>

    <%= render 'form' %>
  </div>
</div>