<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-white p-2">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">All Projects</li>
  </ol>
</nav>