<%= form_tag url, :method => 'get' do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class:"form-control" %>
    <%= submit_tag 'search', class:"btn btn-dark p-1" %>
  </div>
<% end %>