<div class="card col-7">
  <div class="card-body">
    <h2 class='card-title mb-4 bg-dark'>
      <span class="text-white"><center>Add New Project</span></span>
    </h2>

    <%= render 'form', project: @project %>
  </div>
</div>