.project-card {
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #f7f7f7;
  }
}

.badge {
  background-color: #eeeeee;
  color: black !important;
}

.margin-active-links {
  margin-right: 1%;
}