<% if current_user %>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <%= render "layouts/left_dashboard" %>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= render "layouts/dashboard" %>
        <%= yield %>
      </main>
    </div>
  </div>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
<% end %>