<% if current_user %>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap px-2 py-0 shadow">
    <% if current_user.admin == false %>
      <%= link_to "Project Management", employees_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to "Project Management", root_path, class: "navbar-brand" %>
    <% end %>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <span class="nav-link nav-item"> Welcome <%= current_user.name %> to Project Management</span>
      </div>
    </div>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <%= link_to "sign out", destroy_user_session_path, class: "nav-link nav-item" %>
      </div>
    </div>
  </header>
<% end %>
